*{
    margin: 0px;
    padding: 0px;

}
body{
    width: 100%;
    height: 70vh;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width:100%;
    height: 90px;
    background-color: #2c3E50;
    color: azure;
    align-content: center;
    text-align: center;
}
.container{
    display: flex;
    width: 100%;
    height: 90vh;
}
.box-1{
    width: 15%;
    padding: 10px;
}
.box-1 p{
    padding-top: 10px;

}
.box-2{
    width: 90%;
    padding: 10px;
    display: flex;
    position: relative;
    background-color: #edf4fd;
}
.note-1{
    width: 230px;
    height: 130px;
    background-color: #FFF9C4;
    padding: 10px;
    border-radius: 8px;
    justify-self: start;
    box-shadow: 0 0 10px  rgba(1.5,1.5 7,0.3);
    position: absolute;
    top: 30px;
    left: 20px;

}
.note-2{
    width: 230px;
    height: 130px;
    background-color: #C8E6C9;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0 0 10px rgba(1.5,1.5 7,0.3);
    position: absolute;
    top: 50px;
    left: 290px;


}
.note-3{
    width: 230px;
    height: 130px;
    background-color: #FFF9C4;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0 0 10px rgba(1.5,1.5 7,0.3);
    position: absolute;
    top: 80px;
    left: 560px;


}
.note-4{
    width: 230px;
    height: 130px;
    background-color: #C8E6C9;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0 0 10px rgba(1.5,1.5 7,0.3);
    position: absolute;
    top: 90px;
    left: 840px;

}


