*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;

}
.box{
    height:500px;
    width:250px;
    background:rgb(red, green, blue);
    border:2px solid black;
    border-color:gray;
    padding-top:20px;
    margin:20px;
    border-radius: 15px;
    padding-left: 30px;
    text-align:left;
    padding-bottom: 50px;
    float:left;


}
.div-2{
    color:azure;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    border-radius: 6px;
    border:3px solid black;
    width:50px;
    height:30px;
    background-color: blueviolet;
    text-align: center;
}
.box-2{
    color:azure;
    font-size: 30px;
    margin-bottom: 10px;
    border-radius: 6px;
    border:3px solid black;
    width:80px;
    height:35px;
    background-color: green;
    text-align: center;

}
.button{
    height:50px;
    width:90px;
    background-color: green;
    border-radius: 9px;
    border:none;
    font-size: 19px;
    font-weight: bold;
    /* margin-left: 130px; */
    align-items: center;
}
.rupees span{
    text-decoration: line-through;
    font-size:17px;

}
.image{
    height:200px;
    width:180px;
}
.image-2{
    height:200px;
    width:180px;
}
.image-3{
    height:200px;
    width:200px;
}
.image-4{
    height:200px;
    width:200px;
}
.image-5{
    height:200px;
    width:180px;
}
.image-6{
    height:200px;
    width:180px;
}
.image-7{
    height:200px;
    width:180px;
}
.image-8{
    height:200px;
    width:200px;
}
.header{
    text-align: left;
    margin-bottom: 27px;
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: darkgray;
    border-radius: 7px;

}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px 10px;
    height: 10px;
}