*{
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    width:100%;
}
.task{
    height:400px;
    width:100%;
    background-color: rgb(212, 74, 74);
    margin-bottom: 30px;
}



.heading{
    font-size: 30px;
    height: 80px;
    width:100%;
    background-color:darkgrey;
    color:black;
    text-align: center;                                                                                                                                                                                                                                                                                                                                                                                                                  



}

.heading1{
    height: 300px;
    width:100%;
    margin-bottom: 20px;
}
.heading p{
    font-size: 20px;
    font-weight: normal;
}
.output{
    display:flex;
    height: 300px;
}

.box{
    height: 100px;
    width:100px;
    border-radius: 10px;
    background-color:lightslategrey;
    margin: 5px;
    color:black;
    font-size:40px;
    text-align: center;
    align-content: center;

}
.heading1{
    height: 300px;
    width:100%;
    color:black(57, 57, 142);
    margin-bottom:20px;
    background-color: rgb(188, 193, 193);
}
.heading2{
    height:300px;
    width: 100%;
    color:rgb(85, 130, 130);
    margin-bottom: 20px;
    background-color: rgb(99, 83, 64);
}
.nonwrap{
    display:flex;
    flex-wrap:nowrap;
    

}
.wrap{
    display:flex;
    flex-wrap:wrap;
   
}
.wrap-reverse{
    display: flex;
    flex-wrap: wrap-reverse;

}
.row{
    display: flex;
    flex-direction: row;

}
.row-reverce{
    display: flex;
    flex-direction: row-reverse;
}
.column-reverce{
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}
.wrap{
    display:flex;
    flex-wrap:wrap
}


.wrap-reverse{
    display: flex;
    flex-wrap: wrap-reverse;
}

.row{
    display: flex;
    flex-direction: row;
}
.row-reverce{
    display: flex;
    flex-direction: row-reverse;
}

.column{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}

.column-reverce{
    display: flex;
     flex-direction: column;
    flex-wrap: wrap-reverse;
}
