*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    height:100vh;
    width:100%;
}
.task{
    height: 300px;
    width:100%;
    background-color: rgb(43, 86, 119);
    margin-bottom: 20px;

}



.heading{
    font-size: 30px;
    height: 100px;
    width:100%;
    background-color:rgb(56, 125, 103);
    color: azure;
    text-align: center;                                                                                                                                                                                                                                                                                                                                                                                                                  



}

.heading1{
    height: 200px;
    width:100%;
}
.heading p{
    font-size: 20px;
    font-weight: normal;
}
.output{
    display:flex;
    
}

.Box{
    height: 100px;
    width:100px;
    border-radius: 10px;
    background-color:brown;
    margin: 5px;
    color:green;
    font-size:40px;
    text-align: center;
    align-content: center;

}